<ion-view view-title="{{'order' | translate}} No. {{vm.order.folio}}" cache-view="false">
    <ion-nav-buttons side="right">
        <!--<button class="button button-clear align-left" ng-click="vm.closeOrder()">Volver</button>-->
        <button class="button button-a button-icon icon ion-compose ion-trash-b"
                ng-disabled="!vm.orderIsEditable()"
                ng-click="vm.promptDeleteOrder()">
        </button>
        <button class="button button-icon icon ion-compose icon-right"
                ng-disabled="!vm.orderIsEditable()"
                ng-click="vm.editOrder()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>

            <ion-item class="item-divider text-center">
                Estatus: {{vm.order.status | orderStatusFilter}}
            </ion-item>

            <ion-item class="item item-divider text-center" ng-if="vm.adminUser">
                {{vm.order.get('client').get('folio')}} - {{vm.order.get('client').get('profile').get('lastName')}}
                {{vm.order.get('client').get('profile').get('firstName')}}
            </ion-item>
            <ion-item class="item-icon-left" ng-repeat="item in vm.order.items">
                <h4 class="icon">{{item.get('quantity')}}</h4>
                <p class="item-note text-right">
                    PU: {{item.price | centsCurrency}}
                    <br/>
                    STL: {{(item.totals) | centsCurrency}}
                </p>
                <h2>{{item.description}}</h2>
                <h2>{{item.sku}}</h2>
            </ion-item>
            <ion-item class="item-divider" ng-if="vm.order.notes">
                {{'order_notes' | translate}}:
                <p>{{vm.order.notes}}</p>
            </ion-item>
            <ion-item class="item-divider text-right">
                <p>Subtotal: {{vm.order.subtotals | centsCurrency}}</p>
                <p>Total Descuento: {{vm.order.discountTotals | centsCurrency}}</p>
                <p>Total IVA: {{vm.order.ivaTotals | centsCurrency}}</p>
                Total: {{vm.order.totals | centsCurrency}}
            </ion-item>
            <!--<ion-item>-->
                <!--<button class="button button-assertive"-->
                        <!--ng-disabled="vm.order.get('status') > 1"-->
                        <!--ng-click="vm.editOrder()">-->
                    <!--Editar Pedido-->
                <!--</button>-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>