<ion-view id="order-new-client" view-title="{{'new_order' | translate}}" cache-view="false">

    <ion-header-bar>
        <h1 class="title">Detalles de Pedido</h1>
        <div class="buttons">
            <button class="button button-clear align-left" ng-click="vm.closeOrder()">Volver</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <form ng-submit="vm.searchClient()">
            <ion-list>
                <label class="item item-input">
                    <input type="tel"
                           placeholder="Escriba el código de cliente..."
                           ng-model="vm.searchFolio"
                           ng-change="vm.searchClient()"
                           ng-model-options="{ debounce: 500 }">
                </label>
                <span ng-if="!vm.client.id">
                <ion-item class="item item-divider text-center">
                    <h2>Sin resultados.</h2>
                </ion-item>
            </span>
                <span ng-if="vm.client.id">
                <ion-item class="item item-divider text-center">
                    <h2>{{vm.client.fullName}}</h2>
                </ion-item>
                <ion-item class="item item-input">
                    <span class="input-label">Calle:</span>
                    <span>{{vm.client.profile.address.get('street')}}</span>
                </ion-item>
                <ion-item class="item item-input">
                    <span class="input-label">Número:</span>
                    <span>{{vm.client.profile.address.get('number')}} {{vm.client.address.get('interior')}}</span>
                </ion-item>
                <ion-item class="item item-input">
                    <span class="input-label">Colonia:</span>
                    <span>{{vm.client.profile.address.get('neighborhood')}}</span>
                </ion-item>
                <ion-item class="item item-input">
                    <span class="input-label">Localidad:</span>
                    <span>{{vm.client.profile.address.get('city')}}, {{vm.client.address.get('state')}}</span>
                </ion-item>
                <ion-item>
                    <button class="button button-block button-positive icon-left ion-checkmark-circled"
                            ng-enabled="client.valid"
                            ng-click="vm.startNewOrder()">
                        Continuar
                    </button>
                </ion-item>
            </span>
            </ion-list>
        </form>
    </ion-content>
</ion-view>